
<div>
  <mat-card>
    <mat-card-title>Bienvenidos a la Academia Giribone</mat-card-title>
  </mat-card>
</div>

<div>
  <mat-card>
    <mat-card-content><h5>Nuestra Historia</h5>
        <p>
        Nuestra academia se remonta en los años -1499 A.C en Usuahia. 
        <br>
        Nuestro Mentor Giribone Maxi, no tuvo mejor idea, que estudiar 
        con el fresco del sur y la vista de las montañas. Al principio 
        el grado de discernimiento se debio a que muchos alumnos padecieron
        Neumonia, pero con el tiempo los chicos se fueron haciendo duros, je,je...
        <br>
        <h6>Nuestro valores:</h6>
        
        Se caracteriza por lograr una educación de excelencia, mediante
        el metodo "si no estudias hay tabla" fragmento de Gaspar 
        sacado de la enciclopedia the simpson encarta '99, 
        En casos mas complejos se trabaja, dejando de lado el couching, utilizando psico social, con electrochoques.
        <br><br>
        <h6>Metodo Evaluativo:</h6>
        
        En esta institucion se evalua lo que se predica. Se prioriza<br>
        1-Compañerismo<br>
        2-Trabajo en Equipo<br>
        3-Empatia<br><br>
        Aquellos que quieran sacar ventaja sobre los compañeros, se ganan un tour en musculosa <br>
        a la Base Marambio. <br>
        <br>
        <h6>Equipo Pedagogico:</h6>
        
        Director: Giribone Maximiliano<br>
        Secretario Academico<br>
        Administrativo: Siempre es un quilombo<br>
        Psicologo: Oye Julio Cesar<br>
        Psiquiatra: Pasado Jose Raul<br>
        Emprendedoras: Caro Pardiaco<br>
        Comisario: Garrido Miguel Angel<br>
        Taller de Dibujo: Comisario: Garrido Miguel Angel<br><br>

        <h6>Cerificaciones y Avales</h6>
        
        ISO 9001:2015: Sistemas de Gestión de Calidad (SGC)<br>
        ISO 14001:2015:  Sistemas de Gestión Ambiental (SGA):<br>
        ISO 27001:2013: Seguridad de la Información: <br>
        ISO 45001:2018:  Sistemas de Gestión de Seguridad y Salud en el Trabajo (SGSST):<br>
        Reposo: 72 horas por estado gripal (no sirve como certificado medico).<br>
        Garantia de Alquiler Depto 3 ambientes en Belgrano, Sacado por Finaer por 2 años<br>
        Apollo incondicional, de Amigas y Amigos, Papa, Mamá,la tía Marta y Betun
        <br><br>
        <h6>Nos Auspician:</h6>
        Almacen: "Lo de Tito"
        descuentos en fiambres y agua skins de coca cola los días Martes y Viernes de 8:00 a 9:45hs
        Farmacia: "La Perla" <br>
        descuento del 50% en ansioliticos por abonar la cuota en efectivo<br>
        descuento del 25% en antidepresivos por abonar la cuota en criptomonedas. Al jefe le va lo tech,  je<br>
        Dietetica: "Salud y Bienestar"
        descuento del 50% en Alfajores Guaymallen de Fruta<br>
        <p>
    </mat-card-content>
  </mat-card>
</div>


