/* Estilo para la tabla */
.table-sanciones {
    border: 1px solid #9f6e6f; /* Color del borde */
    width: 100%; /* Opcional: ajusta el ancho de la tabla */
  }
  
  /* Alinea el texto a la izquierda en las celdas */
  .table-sanciones th,
  .table-sanciones td {
    text-align: center; /* Alinea el texto al centro */
    border: 1px solid #f1666b; /* Borde de las celdas */
  }
  
  /* Centra la tabla en el centro del contenedor */
  .container {
    display: flex;
    justify-content: center;
  }
  
  .mat-card-footer{
    background-color: #f1666b;
  }

  .code{color:rgb(0, 0, 0)}