
.example-container {
  width: 100%;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav {
  width: 200px;
}

.example-sidenav-content {
  height: 100%;
}

.example-sidenav {
  padding: 20px;
}


a.mat-list-item {
  display: flex;
  align-items: center; /* Alinea verticalmente al centro */
}

.icono-inicio {
  margin-right: 8px; /* Espacio a la derecha del ícono */
}

.texto-inicio {
  vertical-align: middle; /* Alinea verticalmente con el ícono */
}

.mat-toolbar {
  background-color: black; /* Establece el fondo negro */
  color: #f1666b; /* Establece el color de texto */
}

.matprimary{
  color: #f1666b
}